{% extends "AppBundle::layout.html.twig" %}

{% block title %}
    error
{% endblock %}

{% block body %}
    <div class="container rendezvous-container">
        <h1>Page not found</h1>

        <p>
            Sorry, an error occured on the page, please try again later
        </p>
    </div>

{% endblock %}