{% extends "::layout.html.twig" %}

{% block title %}
    Gestion des résidences - {{ parent() }}
{% endblock %}

{% block header %}
    
    {% for message in app.session.flashbag.get('info') %}
        <div class="container">
            <div class="alert alert-success" role="alert">
                {{ message }}
            </div>
        </div>
    {% endfor %}

    {% for message in app.session.flashbag.get('danger') %}
        <div class="container">
            <div class="alert alert-danger" role="alert">
                {{ message }}
            </div>
        </div>
    {% endfor %}

        {% block body %}
        {% endblock %}


{% endblock %}

