{% extends "::layout.html.twig" %}

{% block title %}
    Gestion des résidences - {{ parent() }}
{% endblock %}

{% block header %}




  {# <div class="legend col-md-4"> Legende : PC = Pièces communes </div> #}
    TEST LAYOUT


        {% block body %}
        {% endblock %}


{% endblock %}

