{% block appbundle_image_widget %}
    <script>
        function readURL(input) {
            if (input.files && input.files[0]) {
                var reader = new FileReader();
                var fileInput = $('#'+input.id);

                reader.onload = function (e) {
                    fileInput.parent().css('background-image', 'url(' + e.target.result + ')');
                    fileInput.parent().find('label').hide();
                    fileInput.parent().find('.remove-image').show();
                };

                reader.readAsDataURL(input.files[0]);
            }
        }

        function removeImage(input) {
            input.parentNode.getElementsByTagName('input')[0].value = "";
            input.parentNode.style.backgroundImage = '';
            input.parentNode.getElementsByTagName('label')[0].style.display = "flex";
            input.style.display = "none";

            if(input.getAttribute("data-image-id") !== null){
                let id = input.getAttribute("data-image-id");
                let url = "{{ path('delete_image') }}";
                $.ajax({
                    url: url,
                    data: {id:id}
                }).done(function( data ) {

                });
            }

        }

        $( document ).ready(function() {
            {% if coverImage is defined and coverImage.imageName is not null %}
            var input = $('#appbundle_employer_coverImage_imageFile_file');
            input.parent().find('.remove-image').attr('data-image-id', {{ coverImage.id }});
            input.parent().css('background-image', 'url({{ asset('uploads' ~ vich_uploader_asset(coverImage, 'imageFile', 'AppBundle\\Entity\\Image')) }})');
            input.parent().find('label').hide();
            input.parent().find('.remove-image').show();
            {% endif %}
        });

    </script>

    <div id="appbundle_employer_coverImage_imageFile">
        <div class="form-group">
            <div id="appbundle_employer_coverImage_imageFile">
                <div class="form-group">
                    <div class="cover-label ui-state-default col-md-3 col-sm-3">
                        <input type="file" onchange="readURL(this);" id="appbundle_employer_coverImage_imageFile_file" name="appbundle_employer[coverImage][imageFile][file]" class="inputfile {% if coverImage is defined and coverImage.imageName is not null %}not-empty{% else %}empty{% endif %}">
                        <label for="appbundle_employer_coverImage_imageFile_file"><i class="fas fa-download"></i></label>
                        <button type="button" class="remove-image" onclick="removeImage(this)"><i class="fas fa-times"></i></button>
                    </div>
                </div>

            </div>
        </div>
    </div>


    <style>
        #sortable li{
            padding-left: 0 !important;
            padding-right: 0 !important;
        }
        .remove-image{
            border-radius: 50%;
            background-color: #00000080;
            border: none;
            color: white;
            padding: 8px;
            text-align: center;
            text-decoration: none;
            font-size: 16px;
            margin: 4px 2px;
            cursor: pointer;
            position: absolute;
            right: 0;
            top: 0;
            display: none;
            padding-bottom: 3px;
            padding-top: 3px;
        }
        .cover-label{
            width: 200px;
            height: 100px;
        }
        .ui-state-default{
            background-position: center center;
            background-size: cover;
            padding-right: 0 !important;
            padding-left: 0 !important;
            border: 1px solid #c5c5c5;
            font-weight: normal;
            color: #454545;
        }
        .inputfile{
            width: 0.1px;
            height: 0.1px;
            opacity: 0;
            overflow: hidden;
            position: absolute;
            z-index: -1;
        }
        .inputfile + label {
            width: 100%;
            height: 100%;
            display: flex;
            align-items: center;
            justify-content: center;
            font-size: 3.25rem;
            font-weight: 700;
            text-overflow: ellipsis;
            white-space: nowrap;
            cursor: pointer;
            overflow: hidden;
            padding: 0.625rem 1.25rem;
            color: #f1e5e6;
            background-color: #2e6da4;
        }
    </style>
{% endblock %}