{% block appbundle_image_widget %}
    <script>
        function readURL(input) {
            if (input.files && input.files[0]) {

                if(input.files[0].size > 20971520){
                    alert({{ 'employer.fileToo'|trans }});
                    this.value = "";
                }else {
                    var reader = new FileReader();

                    reader.onload = function (e) {
                        $('.employer-jumbotron::after').css('background-image', 'url(' + e.target.result + ')');

                        var styleElem = document.head.appendChild(document.createElement("style"));

                        styleElem.innerHTML = ".employer-jumbotron::after {background-image: url(" + e.target.result + ")!important;}";
                    };

                    reader.readAsDataURL(input.files[0]);
                    
                    var inputCover = $('#'+input.id);
                    let empty = $('.empty').length;
                    let full = $('.not-empty').length;
                    if( !$(inputCover).val().length ) {
                        $(inputCover).addClass('empty');
                        $(inputCover).removeClass('not-empty');
                    } else {
                        $(inputCover).addClass('not-empty');
                        $(inputCover).removeClass('empty');
                    }
                    empty = $('.empty').length;
                    full = $('.not-empty').length;
                    let percent = full / (full + empty) * 100;
                    $('.completion-bar').animate({'width' :percent + '%'});
                    if(percent >= 100){
                        $('.completion-container').fadeOut("slow", function () {
                            $(this).css({display:"none"});
                            $('.completion-success').css({'display' :'block'});
                        });
                    }else{
                        $('.completion-container').css({'display' :'block'});
                        $('.completion-success').css({'display' :'none'});
                    }

                }


            }
        }


        $( document ).ready(function() {
            {% if coverImage is defined and coverImage.imageName is not null %}
            var input = $('#appbundle_employer_coverImage_imageFile_file');
            input.parent().find('.remove-image').attr('data-image-id', {{ coverImage.id }});
            input.parent().css('background-image', 'url({{ asset('uploads' ~ vich_uploader_asset(coverImage, 'imageFile', 'AppBundle\\Entity\\Image')) }})');
            input.parent().find('label').hide();
            input.parent().find('.remove-image').show();
            {% endif %}
        });
    </script>

    <div id="appbundle_employer_coverImage_imageFile">
        <div class="form-group">
            <input accept=".png,.jpg" type="file" style="position:absolute; visibility: hidden" onchange="readURL(this);" id="appbundle_employer_coverImage_imageFile_file" name="appbundle_employer[coverImage][imageFile][file]" class="{% if coverImage is defined and coverImage.imageName is not null %}not-empty{% else %}empty{% endif %}">
            <button  data-toggle="tooltip" data-placement="top" title="{{ 'form.registration.coverImageModify'|trans }}" class="edit-cover" type="button" id="browseButton" value="Choisir un fichier" onclick="appbundle_employer_coverImage_imageFile_file.click()"><i class="fas fa-pencil-alt"></i></button>
        </div>
    </div>


    <style>
        #sortable li{
            padding-left: 0 !important;
            padding-right: 0 !important;
        }
        .edit-cover{
            display: block;
            border-radius: 50%;
            background-color: #000000;
            border: none;
            color: white;
            padding: 8px;
            text-align: center;
            text-decoration: none;
            font-size: 16px;
            margin: 4px 2px;
            cursor: pointer;
            position: absolute;
            right: 80px;
            bottom: -20px;
            padding-bottom: 3px;
            padding-top: 3px;
        }
    </style>
{% endblock %}