imports:
    - { resource: parameters.yml }
    - { resource: security.yml }
    - { resource: services.yml }
    - { resource: "@EmployerBundle/Resources/config/services.yml" }
    - { resource: "@CandidateBundle/Resources/config/services.yml" }
    - { resource: "@AdminBundle/Resources/config/services.yml" }

# Put parameters here that don't need to change on each machine where the app is deployed
# https://symfony.com/doc/current/best_practices/configuration.html#application-related-configuration
parameters:
    locale: fr

framework:
    #esi: ~
    translator: { fallbacks: [%locale%] }
    secret: '%secret%'
    router:
        resource: '%kernel.project_dir%/app/config/routing.yml'
        strict_requirements: ~
    form: ~
    csrf_protection: ~
    validation: { enable_annotations: true }
    #serializer: { enable_annotations: true }
    default_locale: %locale%
    trusted_hosts: ~
    session:
        # https://symfony.com/doc/current/reference/configuration/framework.html#handler-id
        handler_id: session.handler.native_file
        save_path: '%kernel.project_dir%/var/sessions/%kernel.environment%'
    fragments: ~
    http_method_override: true
    assets: ~
    php_errors:
        log: true
    templating:
        engines: ['twig']

fos_user:
        db_driver: orm # other valid values are 'mongodb' and 'couchdb'
        firewall_name: main
        user_class: AppBundle\Entity\User
        from_email:
            address: "arthur.regnault@altea.com"
            sender_name: "JobNow"
        registration:
            form:
                type: AppBundle\Form\RegistrationType

fos_elastica:
#    serializer:
#        serializer: jms_serializer

    clients:
        default: { host: localhost, port: 9200 }
    indexes:
            app:
                settings:
                    index:
                        analysis:
                            analyzer:
                                autocomplete_analyzer:
                                    type: custom
                                    tokenizer: autocomplete_tokenizer
                                    filter: [lowercase, asciifolding]
                            tokenizer:
                                autocomplete_tokenizer:
                                    type: nGram
                                    min_gram: 3
                                    max_gram: 20
                types:
                    offer:
                        properties:
                            id: ~
                            description: ~
                            title: { type: text, analyzer: autocomplete_analyzer }
                            updateDate: { type: date }
                            location: { type: text, analyzer: autocomplete_analyzer }
                            archived: ~
                            contractType:
                              type: object
                              properties:
                                name: { type: text }
                            tag:
                              type: object
                              properties:
                                name: { type: text }
                            employer:
                              type: object
                              properties:
                                name: { type: text }
                        persistence:
                        # the driver can be orm, mongodb or phpcr
                            driver: orm
                            model: AppBundle\Entity\Offer
                            provider: ~
                            finder: ~

# Twig Configuration
twig:
    debug: '%kernel.debug%'
    strict_variables: '%kernel.debug%'
    form_themes:
            - 'bootstrap_3_layout.html.twig'

# Doctrine Configuration
doctrine:
    dbal:
        driver: pdo_mysql
        host: '%database_host%'
        port: '%database_port%'
        dbname: '%database_name%'
        user: '%database_user%'
        password: '%database_password%'
        charset: UTF8
        # if using pdo_sqlite as your database driver:
        #   1. add the path in parameters.yml
        #     e.g. database_path: '%kernel.project_dir%/var/data/data.sqlite'
        #   2. Uncomment database_path in parameters.yml.dist
        #   3. Uncomment next line:
        #path: '%database_path%'

    orm:
        auto_generate_proxy_classes: '%kernel.debug%'
        naming_strategy: doctrine.orm.naming_strategy.underscore
        auto_mapping: true

# Swiftmailer Configuration
swiftmailer:
    transport: %mailer_transport%
    encryption: %mailer_encryption%
    auth_mode:  %mailer_auth_mode%
    host:  %mailer_host%
    port: %mailer_port%
    username: %mailer_user%
    password: %mailer_password%

vich_uploader:
    db_driver: orm
    mappings:
        employer_image:
            uri_prefix: /images/employer
            upload_destination: '%kernel.project_dir%/web/uploads/images/employer'


ivory_google_map:
    map:
        debug: "%kernel.debug%"
        language: "%locale%"
        api_key: "AIzaSyBY8KoA6XgncXKSfDq7Ue7R2a1QWFSFxjc"
    geocoder:
        client: httplug.client.default
        message_factory: httplug.message_factory.default


httplug:
    classes:
        client: Http\Adapter\Guzzle6\Client
        message_factory: Http\Message\MessageFactory\GuzzleMessageFactory
    clients:
        acme:
            factory: httplug.factory.guzzle6

