{% extends "AppBundle::layout.html.twig" %}

{% block title %}
    {{ parent() }} - Reservation
{% endblock %}

{% block body %}
    
    <div class="container rendezvous-container">

    </div>


    <style>

    </style>
    <script>


    </script>

{% endblock %}