h3.box{
    display: inline-block;
    border-radius: 5px;
    border: 1px solid red;
    padding: 10px;



}
.article-title{
    position: relative;
    margin: 0;
    padding: 0 0 10px;
    font-weight: 400;
    font-size: 20px;
    line-height: 26px;
    color: #373942;
}
.hr-last-offer{
    margin-top: 10px;
    margin-bottom: 30px;
    border-top: 1px solid #d4d3d3;
}
.last-job-list{
    list-style: none;
    padding: 0;
}
.job-meta{
    list-style: none;
    padding: 0;
}
.link-offer-employer{
    display: block;
    padding: 15px 0;
    line-height: 24px;
    font-size: 16px;
    position: relative;
    overflow: hidden;
    z-index: 1;
    cursor: pointer;
    color: #333;
    -webkit-transition: ease-out 0.7s;
    -moz-transition: ease-out 0.7s;
    transition: ease-out 0.7s;
}
.link-offer-employer:hover {
    background-color: #e8f0f0;
}
.slide-button {
    -webkit-transition: ease-out 0.7s;
    -moz-transition: ease-out 0.7s;
    transition: ease-out 0.7s;
}
.slide-button:hover {
    transform: translate(0.5em,0);
}

.global-modal, .global-a, .global-activate{
    margin-top: 8px;
}

@media screen and (max-device-width: 480px){
    #myInput-offer{
        width: 100% !important;
    }
    .logo-employer{
        width: 85px !important;
        margin-bottom: 20px;
    }
    .container-logo-employer{
        position: static !important;

    }
    .title-employer {
        font-size: 26px !important;
    }
    .container-tag-employer{
        left: auto !important;
        bottom: -74px !important;
        width: 275px !important;
    }
    .add-employer-notification{
        margin-left: 10px;
        margin-right: 10px;
        display: flex !important;
        justify-content: center;
        float: inherit !important;
    }
    .search-employer{
        margin-bottom: 0 !important;
    }
    .search-employer-page #myUL{
        margin-top: -20px;
    }
    .block-dashboard{
        width: 40% !important;
        padding-bottom: 40% !important;
    }
    .text-square{
        margin-top: 0 !important;
    }
    .dashboard-total-offer{
        display: block !important;
        text-align: center;
        margin-left: 0!important;
    }
    .boost-button{
        text-align: center;
        width: 100%;
        margin-top: 10px;
         margin-left: 0 !important;
         margin-right: 0 !important;
    }
}
.container-logo-employer{
    position: absolute;
    left: 14%;
    z-index: 1000;
    top: 154px;
}
.container-tag-employer{
    position: relative;
    left: 242px;
    bottom: 37px;
    width: 600px;
}
.logo-employer{
    background-color: white;
    padding: 10px;
    border-radius: 3px;
    border: 1px solid #ddd;
    width: 207px;
    -webkit-box-shadow: 2px 5px 20px rgba(0,0,0,0.1);
    -moz-box-shadow: 2px 5px 20px rgba(0,0,0,0.1);
    box-shadow: 2px 5px 20px rgba(0,0,0,0.1);
    -webkit-transition: -webkit-transform 0.5s cubic-bezier(0.9, 0.26, 0.58, 1) false;
    -moz-transition: -moz-transform 0.5s cubic-bezier(0.9, 0.26, 0.58, 1) false false;
    -o-transition: -o-transform 0.5s cubic-bezier(0.9, 0.26, 0.58, 1) false false;
}
.description-employer{
    min-height: 200px;
    font-size: 20px;
}
.add-employer-notification{
    float: right;
    font-size: 1em !important;
    padding: .5em 1em !important;
    margin-top: 10px;
}
.title-employer{
    font-size: 36px;
}
.employer-jumbotron{
    min-height: 300px;
    display: flex;
    align-items: center;
    justify-content: center;
    overflow: initial !important;
}
.search-employer{
    margin-bottom: 20px !important;
}
.offer-element-dashboard .fa-eye{
    margin-right: 5px;
}
.count-info{
    padding: 7px;
    background-color: #28a745;
    border-radius: 4px;
    color: white;
    font-size: 14px;
}
.end-date-activation{
    padding: 7px;
    background-color: #28a745;
    border-radius: 4px;
    color: white;
    font-size: 14px;
    min-width: 158px;
}
.slot-button{
    min-width: 126px;
}
.archived-info{
    padding: 7px;
    color: #333;
    font-size: 14px;
    min-width: 156px !important;
    text-align: center;
}
.archived-button{
    min-width: 120px;
}
.no-recent-offers{
    display: flex;
    align-items: center;
    justify-content: center;
    height: 150px;
}
.dashboard-total-offer{
    color: #fff;
    background-color: #337ab7;
    border-radius: 5px;
    margin-left: 5px;
    padding-left: 10px;
    padding-right: 10px;
    padding-top: 5px;
    padding-bottom: 5px;
    display: inline-flex;
}
.dashboard-total-offer div {
    margin-left: 5px;
    margin-right: 5px;
}
.square-offers{
    background-color: #ff9c07;
}
.square-profile{
    background-color: #fd8f14;
}
.square-post{
    background-color: #ffb12d;
}
.square-credit{
    background-color: #ff9e00;
}
.square-featured-employers{
    background-color: #ffc443;
}
.square-featured-offers{
    background-color: #ffaa00;
}
.square-bills{
    background-color: #ffa334;
}
.square-contact{
    background-color: #ffb731;
}
.container-square{
    position: relative;
    left: 0;
    top: 0;
    height: auto;
    width: 100%;
    float: left;
    padding: 0;
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
}
.text-square{
    margin-top: 10px;
}
.block-dashboard {
    position: relative;
    height: 0;
    width: 15%;
    padding-bottom: 15%;
    float: left;
    border: 1px #ddd solid;
    margin: 3%;
    color: black;
    text-decoration: none;
    border-radius: 5px;
    webkit-box-shadow: 2px 5px 20px rgba(0,0,0,0.1);
    -moz-box-shadow: 2px 5px 20px rgba(0,0,0,0.1);
    box-shadow: 2px 5px 20px rgba(0,0,0,0.1);
    -webkit-transition: -webkit-transform 0.5s cubic-bezier(0.9, 0.26, 0.58, 1) false;
    -moz-transition: -moz-transform 0.5s cubic-bezier(0.9, 0.26, 0.58, 1) false false;
    -o-transition: -o-transform 0.5s cubic-bezier(0.9, 0.26, 0.58, 1) false false;
}
.block-dashboard:hover{
    color: black;
}
.content-square {
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%,-50%);
    height: auto;
    width: 100%;
    float: left;
    padding: 20px;
    margin: 0;
}
.content-square i{
    font-size: 28px;
    margin-bottom: 5px;
}
.homepage-jumbotron{
    padding: 63px 0;
}
@media (max-width: 991px) {
    .block-dashboard{
        width: 24%;
        padding-bottom: 24%;
    }
}