h3.box{
    display: inline-block;
    border-radius: 5px;
    border: 1px solid red;
    padding: 10px;



}
.article-title{
    position: relative;
    margin: 0;
    padding: 0 0 10px;
    font-weight: 400;
    font-size: 20px;
    line-height: 26px;
    color: #373942;
}
.last-offers{
    padding: 20px;
    background: #ffffff;
    margin-bottom: 20px;
    -webkit-box-shadow: 2px 5px 20px rgba(0,0,0,0.1);
    -moz-box-shadow: 2px 5px 20px rgba(0,0,0,0.1);
    box-shadow: 2px 5px 20px rgba(0,0,0,0.1);
    -webkit-transition: -webkit-transform 0.5s cubic-bezier(0.9, 0.26, 0.58, 1) false;
    -moz-transition: -moz-transform 0.5s cubic-bezier(0.9, 0.26, 0.58, 1) false false;
    -o-transition: -o-transform 0.5s cubic-bezier(0.9, 0.26, 0.58, 1) false false;
}
.last-offers .jobnow-button{
    width: 100%;
}
.hr-last-offer{
    margin-top: 10px;
    margin-bottom: 30px;
    border-top: 1px solid #d4d3d3;
}
.last-job-list{
    list-style: none;
    padding: 0;
}
.job-meta{
    list-style: none;
    padding: 0;
}
.link-offer-employer{
    display: block;
    padding: 15px 0;
    line-height: 24px;
    font-size: 16px;
    position: relative;
    overflow: hidden;
    z-index: 1;
    cursor: pointer;
    color: #333;
    -webkit-transition: ease-out 0.7s;
    -moz-transition: ease-out 0.7s;
    transition: ease-out 0.7s;
}
.link-offer-employer:hover {
    background-color: #e8f0f0;
}
.slide-button {
    -webkit-transition: ease-out 0.7s;
    -moz-transition: ease-out 0.7s;
    transition: ease-out 0.7s;
}
.slide-button:hover {
    transform: translate(0.5em,0);
}

@media screen and (max-device-width: 480px){
    .last-offers{
        margin-bottom: 15px;
    }
    .logo-employer{
        width: 85px !important;
        margin-bottom: 20px;
    }
    .container-logo-employer{
        position: static !important;

    }
    .title-employer {
        font-size: 26px !important;
    }
    .container-tag-employer{
        left: auto !important;
        bottom: -74px !important;
        width: 275px !important;
    }
    .add-employer-notification{
        margin-left: 10px;
        margin-right: 10px;
        display: flex !important;
        justify-content: center;
        float: inherit !important;
    }
}
.container-logo-employer{
    position: absolute;
    left: 14%;
    z-index: 1000;
    top: 154px;
}
.container-tag-employer{
    position: relative;
    left: 242px;
    bottom: 37px;
    width: 600px;
}
.logo-employer{
    width: 207px;
    -webkit-box-shadow: 2px 5px 20px rgba(0,0,0,0.1);
    -moz-box-shadow: 2px 5px 20px rgba(0,0,0,0.1);
    box-shadow: 2px 5px 20px rgba(0,0,0,0.1);
    -webkit-transition: -webkit-transform 0.5s cubic-bezier(0.9, 0.26, 0.58, 1) false;
    -moz-transition: -moz-transform 0.5s cubic-bezier(0.9, 0.26, 0.58, 1) false false;
    -o-transition: -o-transform 0.5s cubic-bezier(0.9, 0.26, 0.58, 1) false false;
}
.description-employer{
    min-height: 200px;
    font-size: 20px;
}
.whyus-employer{
    min-height: 100px;
    font-size: 20px;
}
.add-employer-notification{
    float: right;
    font-size: 1em !important;
    padding: .5em 1em !important;
}
.title-employer{
    font-size: 36px;
}
.employer-jumbotron{
    min-height: 300px;
    display: flex;
    align-items: center;
    justify-content: center;
    overflow: initial !important;
}
