.header-navbar {
    background-color: #272f3b;
    border-color: #080808;
    height: 7%;
    font-size: medium;
    display: flex;
    align-items: center;

}

.navbar-inverse{

    background-color: #272f3b;

}

#navbartop{

    margin: 1%;

}





.header-text{
    color: #fff !important;

}

.navbar-default .navbar-nav>li>a{
    color: #fffbff !important;
}

.navbar-default .navbar-nav>.open>a, .navbar-default .navbar-nav>.open>a:focus, .navbar-default .navbar-nav>.open>a:hover{
    background-color: #a51010;
}

.content-block{
    max-width:1200px;
    margin:0 auto;
    font-family: Verdana, Geneva, sans-serif;
}

body {
    padding-top: 65px;
    padding-bottom: 65px;
}

h1{
    color: #f0b245;
}

.jobnow-button{
    color: #fbfef5;
    border-radius: 0px;
    padding: 18px 19px;
    display: inline-block;
    font-size: 12px;
    letter-spacing: 1px;
    cursor: pointer;
    background: #e8471b;
    box-shadow: inset 0 0 0 0 #d84a24;
    -webkit-transition: ease-out 0.4s;
    -moz-transition: ease-out 0.4s;
    transition: ease-out 0.4s;
    text-align: center;
    text-decoration: none !important;
    margin-top: -10px;
    min-width: 100px;
}
.jobnow-button:hover{
    box-shadow: inset 400px 0 0 0 #ff6940;
    color: white;
}

.credit-total{
    background-color: #ff9600;
    border-radius: 5px;
    padding-left: 10px;
    padding-right: 10px;
    padding-top: 5px;
    padding-bottom: 5px;
    margin-top: -5px;
}

* {
    box-sizing: border-box;
}

.homepage-search-bar{
    text-align: center;
    border: 1px solid black;
    background: rgba(0, 0, 0, 0.5);
    opacity: 1.5;
    width: 50%;
    margin: auto;
    padding-top: 10px;
    min-width: 300px;
}

.jumbotron{
    text-align: center;
}
.homepage-jumbotron, .offer-jumbotron, .searchpage-jumbotron{
    text-align: center;
    overflow: hidden;
    padding: 95px  0;
    background: transparent;
    background:rgba(0,0,0,0.6);
    margin-bottom: 30px;
    display: block;
    position:relative;
    color: orange;
    margin-top: -14px;
}

@media screen and (max-device-width: 480px){
    .homepage-jumbotron, .offer-jumbotron, .searchpage-jumbotron{
        padding: 0;
    }
    body{
        padding-bottom: 0;
    }
    .thumbnail{
        margin-left: 10px;
        margin-right: 10px;
    }
    .send-contact{
        width: 100% !important;
    }
    .jobnow-button{
        border-radius: 8px;
        padding: 10px 19px;
    }
    .dashboard-employer-logo{
        width: 50px !important;
        height: 50px !important;
    }
    .offer-element-dashboard .offer-search-element{
        width: 82% !important;
        overflow: hidden;
    }

    .favorite-element{
        display: list-item !important;
    }
    .favorite-element .element-offer-list{
        width: 100%;
        margin: auto !important;
        margin-bottom: 10px !important;
    }
}

.homepage-jumbotron #keyword-input{
    color: #333;
    margin-right: 9px
}
.homepage-jumbotron #location-input{
    color: #333;
}
.homepage-subtitle{
    margin-bottom: 60px !important;
}
.background-offer{
    border-top-left-radius: 3px;
    border-top-right-radius: 3px;
    position: relative;
    display: flex;
    align-items: center;
    text-align: center;
}
.layer {
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    background:rgba(0,0,0,0.6);
    opacity: 0.7;
    border-top-left-radius: 3px;
    border-top-right-radius: 3px;
}
.thumbnail{
    padding-left: 0;
    padding-right: 0;
    padding-top: 0;
}
.header-thumb-employer{
    display: inline-flex;
    padding-top: 4px;
}
.header-thumb-employer h3{
    margin-top: 12px;

}
.thumb-employer-info{
    font-size: 16px;
    margin: 10px;
    height: 100px;
    overflow: hidden;
}
.employer-thumb-logo{
    width: 62px;
    height: 45px;
    margin-right: 10px;
    margin-left: 10px;
}
.offer-thumb-image-div{
    position: relative;
    display: flex;
    align-items: center;
    justify-content: center;
}
.col-md-4 .offer-thumb-image{
    height: 200px !important;
}
.col-md-4 .offer-thumb-image-div{
    min-height: 200px;
}
.offer-thumb-logo{
    width: 25%;
    padding: 10px;
    background: white;
    border-radius: 3px;
    border: 1px #ddd solid;
}
.offer-thumb-description{
    height: 100px;
    overflow: hidden;
}
.zoom {
    transition: transform .2s;
    text-decoration: none !important;
    color:#333;
    margin-top: 10px;
}
.zoom:hover {
    -ms-transform: scale(1.1); /* IE 9 */
    -webkit-transform: scale(1.1); /* Safari 3-8 */
    transform: scale(1.1);
    color:#333;
}

.logo-jobnow{
    position: absolute;
    left: 5%;
    top: -68px;
    width: 200px;
    height: 200px;
}

.td-contact-us{
    width: 88%;
}
.label-contact-us{
    text-align: right;
    padding: 16px;
}
.send-contact{
    width: 20%;
    float: right;
}
.input-contact{
    background-position: 10px 12px;
    background-repeat: no-repeat;
    width: 100%;
    font-size: 16px;
    padding: 12px 20px 12px 13px;
    border: 1px solid #ddd;
    margin-bottom: 12px;
}
.dashboard-employer-logo{
    width: 100px;
    height: 100px;
}



.favorite-element{
    display: flex;
    align-items: center;
}
.favorite-element .element-offer-list{
    height: 50px;
    display: flex;
    justify-content: center;
    align-items: center;
}


.label-form{
    color: #e8471b;
}


