/*general*/

@font-face {
    font-family: myFirstFont;
    src: url(font.otf);
}


a{
    text-decoration: none !important;
}

.header-text{
    color: #fff !important;

}

/*!*Used for the sign in form overide from FOSUSER*!*/

/*.content-block{*/
    /*max-width:1200px;*/
    /*margin:0 auto;*/
    /*font-family: myFirstFont;*/
/*}*/


body {
    padding-top: 102px;
    padding-bottom: 65px;
    font-family: myFirstFont;
    font-size: 18px !important;
    background-color: #dddddd2b;

}



/*homepage*/

.featured-offer.text-center{
    margin-bottom: 15px;
    margin-top: 5px;
    color: #f0b245;
}



/*Navbars*/

@media (min-width: 1200px){
    .container {
        width: 72% !important;
    }

    .navbar-default .navbar-nav > li.dropdown:hover > a,
    .navbar-default .navbar-nav > li.dropdown:hover > a:hover,
    .navbar-default .navbar-nav > li.dropdown:hover > a:focus {
        background-color: rgb(39, 47, 59);
        color: #ffffff;
    }
    li.dropdown:hover > .dropdown-menu {
        display: block;

    }

    .dropdown-menu>li>a{
        color: white;
        font-size: 16px;
        padding: 10px;

    }

    ul.dropdown-menu{
        background-color: #272f3b;
        color: #ffffff;
    }

    .header-navbar {
        background-color: #272f3b;
        border-color: #080808;
        height: 75px;
        font-size: 20px;
        display: flex;
        align-items: center;

    }
    .homepage-subtitle{
        margin-bottom: 60px !important;
    }
}

.navbar-toggle{
    margin-top: 26px;
}


.header-navbar {
    background-color: #272f3b;
    border-color: #080808;
    height: 88px;
    font-size: 18px;
}
.navbar-collapse{
    background-color: #272f3b;
    border-color: #080808;
}

.navbar-fixed-bottom{
    background-color: #272f3b;
}

.navbar-default .navbar-nav>li>a{
    color: #fffbff !important;
}

.navbar-default .navbar-nav>.open>a, .navbar-default .navbar-nav>.open>a:focus, .navbar-default .navbar-nav>.open>a:hover{
    background-color: #272f3b;
}


/*Login page*/

.login{
    margin-top: 100px;
    display: flex;
    align-items: center;
    justify-content: center;
}



.login-register{
    font-size: 16px;


}

h3.title{

    color: #f0ab1e;
    margin-bottom: 20px;
}


.login-login{
    font-size: 18px;


}

.login-login-title{

    font-size: 18px;
    color: #b5b5b5;
    margin-bottom: 25px;
    margin-top: 20px;
    text-align: center;

}


.jobnow-button.login {
    width: 100%;
    margin-top: 15px;

}

/*Register candidate / employer*/

.register-employer{
    margin-top: 49px;
}

.register-candidate{
    margin-top: 66px;
}

.register-candidate, .register-employer{
    display: flex;
    align-items: center;
    justify-content: center;
}

.edit-text{

    min-height: 200px;
}

legend{
    margin-top: 10px;
    color: #b5b5b5;
}



/*Button*/

.logo-jobnow{
    position: absolute;
    left: 2%;
    top: 12px;
    width: 200px;
    height: 61px;
    z-index: 200;
}

.jobnow-button{
    color: #fbfef5;
    border: solid 1px #e03c14;
    border-radius: 3px;
    padding: 10px 19px;
    display: inline-block;
    font-size: 16px;
    letter-spacing: 1px;
    cursor: pointer;
    background: #e03c14;
    box-shadow: inset 0 0 0 0 #d84a24;
    -webkit-transition: ease-out 0.4s;
    -moz-transition: ease-out 0.4s;
    transition: ease-out 0.4s;
    text-align: center;
    min-width: 100px;
    margin-top: 0;
}
.jobnow-button:hover{
    box-shadow: inset 1000px 0 0 0 #ff6940;
    color: white;
}




.credit-total{
    background-color: #ff9600;
    border-radius: 5px;
    padding-left: 10px;
    padding-right: 10px;
    padding-top: 5px;
    padding-bottom: 5px;
    margin-top: 9px;
}
.credit-total a{
    color: white;
}

* {
    box-sizing: border-box;
}
.homepage-search-bar{
    display: inline-flex;
    height: 65px;
    justify-content: center;
}
.search-bar{
    text-align: center;
    border: 1px solid black;
    background: rgba(0, 0, 0, 0.5);
    opacity: 1.5;
    width: 50%;
    margin: auto;
    padding-top: 10px;
    min-width: 300px;
    padding-left: 10px;
    padding-right: 10px;
    border-radius: 4px;
}

.jumbotron{
    text-align: center;
    font-weight: 600 !important;
}
.jumbotron h2{
    font-weight: 600;
}
.homepage-jumbotron, .offer-jumbotron, .searchpage-jumbotron, .employer-jumbotron{
    text-align: center;
    overflow: hidden;
    padding: 95px  0;
    background: transparent;
    background:rgba(0,0,0,0.6);
    margin-bottom: 10px;
    display: block;
    position:relative;
    color: orange;
    margin-top: -14px;
    padding-left: 4%;
    padding-right: 4%;
}

@media screen and (max-device-width: 480px){
    .homepage-jumbotron, .offer-jumbotron, .searchpage-jumbotron, .employer-jumbotron{
        padding: 0;
    }
    body{
        padding-bottom: 0;
    }
    .thumbnail{
        margin-left: 10px;
        margin-right: 10px;
    }
    .send-contact{
        width: 100% !important;
    }
    .jobnow-button{
        border-radius: 8px;
        padding: 10px 19px;
    }
    .dashboard-employer-logo{
        width: 50px !important;
        height: 50px !important;
    }
    .offer-element-dashboard .offer-search-element{
        width: 82% !important;
        overflow: hidden;
    }

    .favorite-element{
        display: list-item !important;
    }
    .favorite-element .element-offer-list{
        width: 100%;
        margin: auto !important;
        margin-bottom: 10px !important;
    }
    .navbar-dashboard{
        margin-top: 0 !important;
    }
    .add-notification .jobnow-dropdown{
        width: 100%;
        margin-left: 0 !important;
    }
    .add-notification .jobnow-button{
        width: 100%;
    }
    .nav-candidate{
        display: inline-block !important;
        padding-left: 11px;
        margin-bottom: 10px !important;
    }
    .nav-candidate li{
        float: left !important;
    }
    .homepage-div .alert{
        width: 91% !important;
    }
    .shadow-box{
        margin-bottom: 15px;
    }
    .navbar-fixed-bottom{
        position: relative !important;
    }
    .register-candidate, .register-employer, .login{
        margin-top: 0 !important;
        margin-bottom: 20px;
    }
    .jobnow-button.login {
        margin-top: 0 !important;
    }
    .logo-jobnow{
        position: inherit !important;
    }
    #navbar{
        position: absolute;
        top: 88px;
        width: 100%;
    }
    .homepage-search-bar{
        display: block;
        height: 170px;
    }
    .div-keyword-input{
        width: 100% !important;
        margin-left: 0 !important;
        margin-bottom: 10px !important;
    }
    .div-location-input{
        width: 100% !important;
        margin-bottom: 10px !important;
    }
    .homepage-jumbotron .searchOffer-home{
        margin-left: 0 !important;
        width: 100%;
    }
    .featured-offer.text-center{
        margin-bottom: 0 !important;
    }
    .homepage-container .row{
        margin-bottom: -30px;
    }
    .credit-total{
        width: fit-content;
        margin-top: 0 !important;
        margin-left: 7px;
        padding-left: 7px !important;
        padding-right: 7px !important;
    }
    .jobnow-container{
        min-height: 270px;
        margin-bottom: 20px;
    }
}

.homepage-jumbotron .div-keyword-input{
    color: #333;
    margin-right: 1%;
    border-radius: 4px;
    height:43px;
    width: 37%;
}
.homepage-jumbotron .div-location-input{
    color: #333;
    margin-right: 1%;
    border-radius: 4px;
    height: 43px;
    width: 37%;
}
.homepage-jumbotron .form-control{
    height: 43px !important;
}
.homepage-jumbotron .searchOffer-home{
    min-width: 140px;
    height: 44px;
    line-height: inherit;
    background-position: 10px 12px;
    background-repeat: no-repeat;
    font-size: 16px;
    padding: 11px 20px 12px 13px;
    border: 1px solid #000000;
}
.background-offer{
    border-top-left-radius: 3px;
    border-top-right-radius: 3px;
    position: relative;
    display: flex;
    align-items: center;
    text-align: center;
}
.layer {
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    background:rgba(0,0,0,0.6);
    opacity: 0.7;
    border-top-left-radius: 3px;
    border-top-right-radius: 3px;
}
.thumbnail{
    padding-left: 0;
    padding-right: 0;
    padding-top: 0;
}
.header-thumb-employer{
    display: inline-flex;
    padding-top: 4px;
}
.header-thumb-employer h3{
    margin-top: 12px;

}
.thumb-employer-info{
    font-size: 16px;
    margin: 10px;
    height: 91px;
    overflow: hidden;
}
.employer-thumb-logo{
    width: 62px;
    height: 45px;
    margin-right: 10px;
    margin-left: 10px;
}
.offer-thumb-image-div{
    position: relative;
    display: flex;
    align-items: center;
    justify-content: center;
}
.col-md-4 .offer-thumb-image{
    height: 200px !important;
}
.col-md-4 .offer-thumb-image-div{
    min-height: 200px;
}
.offer-thumb-logo{
    width: 29%;
    padding: 10px;
    background: white;
    border-radius: 3px;
    border: 1px #ddd solid;
}
.offer-thumb-description{
    height: 100px;
    overflow: hidden;
}
.zoom {
    transition: transform .2s;
    color:#333;
    margin-top: 10px;
}
.zoom:hover {
    -ms-transform: scale(1.1); /* IE 9 */
    -webkit-transform: scale(1.1); /* Safari 3-8 */
    transform: scale(1.1);
    color:#333;
}

.td-contact-us{
    width: 88%;
}
.label-contact-us{
    text-align: right;
    padding: 16px;
}
.send-contact{
    width: 20%;
    float: right;
}
.input-contact{
    background-position: 10px 12px;
    background-repeat: no-repeat;
    width: 100%;
    font-size: 16px;
    padding: 12px 20px 12px 13px;
    border: 1px solid #ddd;
    margin-bottom: 12px;
}
.dashboard-employer-logo{
    width: 100px;
    height: 100px;
}



.favorite-element{
    display: flex;
    align-items: center;
}
.favorite-element .element-offer-list{
    height: 50px;
    display: flex;
    justify-content: center;
    align-items: center;
}


.label-form{
    color: #e8471b;
    font-size: 16px;
}

.navbar-dashboard{
    text-align: center;
    margin-top: 22px;
}
.add-notification h4{
    margin-bottom: 20px;
}
.jobnow-dropdown{
    line-height: inherit;
    background-position: 10px 12px;
    background-repeat: no-repeat;
    font-size: 16px;
    padding: 12px 20px 12px 13px;
    border: 1px solid #ddd;
    margin-bottom: 12px;
    margin-left: 10px;
    color: #333;
    min-width: 130px;
}

.nav-candidate{
    display: table !important;
    width: 100%;
    table-layout: fixed;
    margin-bottom: 20px;
}
.nav-candidate li{
    float: none;
    display: table-cell;
}
.nav-candidate a{
    margin-bottom: -1px;
}

.alert{
    position: absolute;
    z-index: 10;
    width: 70%;
}
.language-selector .fa-globe{
    margin-right: 6px;
}
.language-selector .caret{
    margin-left: 7px;
}

.shadow-box{
    padding: 20px;
    background: #ffffff;
    margin-bottom: 20px;
    -webkit-box-shadow: 2px 5px 20px rgba(0,0,0,0.1);
    -moz-box-shadow: 2px 5px 20px rgba(0,0,0,0.1);
    box-shadow: 2px 5px 20px rgba(0,0,0,0.1);
    -webkit-transition: -webkit-transform 0.5s cubic-bezier(0.9, 0.26, 0.58, 1) false;
    -moz-transition: -moz-transform 0.5s cubic-bezier(0.9, 0.26, 0.58, 1) false false;
    -o-transition: -o-transform 0.5s cubic-bezier(0.9, 0.26, 0.58, 1) false false;
}
.shadow-box .jobnow-button{
    width: 100%;
}
.shadow-box h3{
    margin-top: 0!important;
}
.featured-offer-table td{
    max-width: 200px;
}
.container-featured-offer-title{
    margin-top: 15px;
    text-align: center;
}
.title-featured-offer{
    margin-top: 5px;
}
.reserved-employer{
    float: right;padding: 7px 12px !important;
    width: 85px;
    text-align: center;
    margin-left: 5px;
    margin-right: 5px;
}
.choose-featured-offer{
    width: 35%;
}
#featured-offer-id{
    margin-left: 2%;
    margin-right: 2%;
    display: block;
    width: 96%;
    height: 34px;
    padding: 6px 12px;
    font-size: 14px;
    line-height: 1.42857143;
    color: #555;
    background-color: #fff;
    background-image: none;
    border: 1px solid #ccc;
}
.meter {
    box-sizing: initial !important;
    height: 20px;  /* Can be anything */
    position: relative;
    margin: 60px 0 20px 0; /* Just for demo spacing */
    background: #555;
    -moz-border-radius: 25px;
    -webkit-border-radius: 25px;
    border-radius: 25px;
    padding: 10px;
    -webkit-box-shadow: inset 0 -1px 1px rgba(255,255,255,0.3);
    -moz-box-shadow   : inset 0 -1px 1px rgba(255,255,255,0.3);
    box-shadow        : inset 0 -1px 1px rgba(255,255,255,0.3);
}
.meter > span {
    max-width: 100% !important;
    box-sizing: initial !important;
    display: block;
    height: 100%;
    -webkit-border-top-right-radius: 8px;
    -webkit-border-bottom-right-radius: 8px;
    -moz-border-radius-topright: 8px;
    -moz-border-radius-bottomright: 8px;
    border-top-right-radius: 8px;
    border-bottom-right-radius: 8px;
    -webkit-border-top-left-radius: 20px;
    -webkit-border-bottom-left-radius: 20px;
    -moz-border-radius-topleft: 20px;
    -moz-border-radius-bottomleft: 20px;
    border-top-left-radius: 20px;
    border-bottom-left-radius: 20px;
    background-color: rgb(43,194,83);
    background-image: -webkit-gradient(
            linear,
            left bottom,
            left top,
            color-stop(0, rgb(43,194,83)),
            color-stop(1, rgb(84,240,84))
    );
    background-image: -moz-linear-gradient(
            center bottom,
            rgb(43,194,83) 37%,
            rgb(84,240,84) 69%
    );
    -webkit-box-shadow:
            inset 0 2px 9px  rgba(255,255,255,0.3),
            inset 0 -2px 6px rgba(0,0,0,0.4);
    -moz-box-shadow:
            inset 0 2px 9px  rgba(255,255,255,0.3),
            inset 0 -2px 6px rgba(0,0,0,0.4);
    box-shadow:
            inset 0 2px 9px  rgba(255,255,255,0.3),
            inset 0 -2px 6px rgba(0,0,0,0.4);
    position: relative;
    overflow: hidden;
}
.meter > span:after, .animate > span > span {
    box-sizing: initial !important;
    content: "";
    position: absolute;
    top: 0; left: 0; bottom: 0; right: 0;
    background-image:
            -webkit-gradient(linear, 0 0, 100% 100%,
            color-stop(.25, rgba(255, 255, 255, .2)),
            color-stop(.25, transparent), color-stop(.5, transparent),
            color-stop(.5, rgba(255, 255, 255, .2)),
            color-stop(.75, rgba(255, 255, 255, .2)),
            color-stop(.75, transparent), to(transparent)
            );
    background-image:
            -moz-linear-gradient(
                    -45deg,
                    rgba(255, 255, 255, .2) 25%,
                    transparent 25%,
                    transparent 50%,
                    rgba(255, 255, 255, .2) 50%,
                    rgba(255, 255, 255, .2) 75%,
                    transparent 75%,
                    transparent
            );
    z-index: 1;
    -webkit-background-size: 50px 50px;
    -moz-background-size: 50px 50px;
    background-size: 50px 50px;
    -webkit-animation: move 2s linear infinite;
    -moz-animation: move 2s linear infinite;
    -webkit-border-top-right-radius: 8px;
    -webkit-border-bottom-right-radius: 8px;
    -moz-border-radius-topright: 8px;
    -moz-border-radius-bottomright: 8px;
    border-top-right-radius: 8px;
    border-bottom-right-radius: 8px;
    -webkit-border-top-left-radius: 20px;
    -webkit-border-bottom-left-radius: 20px;
    -moz-border-radius-topleft: 20px;
    -moz-border-radius-bottomleft: 20px;
    border-top-left-radius: 20px;
    border-bottom-left-radius: 20px;
    overflow: hidden;
}

.animate > span:after {

    box-sizing: initial !important;
    display: none;
}

@-webkit-keyframes move {
    0% {
        background-position: 0 0;
    }
    100% {
        background-position: 50px 50px;
    }
}

@-moz-keyframes move {
    0% {
        background-position: 0 0;
    }
    100% {
        background-position: 50px 50px;
    }
}

.red > span {
    background-color: #337ab7;
    background-image: -moz-linear-gradient(top, #337ab7, #376a96);
    background-image: -webkit-gradient(linear,left top,left bottom,color-stop(0, #337ab7),color-stop(1, #376a96));
    background-image: -webkit-linear-gradient(#337ab7, #376a96);
}

.completion-container{
    transition: all 2s linear;
}
.completion-success{
    text-align: center;
    display: none;
}
.container-edit{
    display: flex;
    justify-content: center;
}
@media (max-width: 991px) {
    .navbar-nav .open .dropdown-menu {
        position: static;
        float: none;
        width: auto;
        margin-top: 0;
        background-color: transparent;
        border: 0;
        -webkit-box-shadow: none;
        box-shadow: none;
    }
    .navbar-nav .open .dropdown-menu a{
        color: white;
    }
    #navbar{
        position: absolute;
        top: 88px;
        width: 100%;
        padding-left: 20px;
        overflow: auto !important;
    }
    .credit-total{
        width: fit-content;
        margin-top: 0 !important;
        margin-left: 7px;
        padding-left: 7px !important;
        padding-right: 7px !important;
    }
    .navbar-header {
        float: none;
    }
    .navbar-toggle {
        display: block;
    }
    .navbar-collapse {
        border-top: 1px solid transparent;
        box-shadow: inset 0 1px 0 rgba(255,255,255,0.1);
    }
    .navbar-collapse.collapse {
        display: none!important;
    }
    .navbar-nav {
        float: none!important;
        margin: 7.5px -15px;
    }
    .navbar-nav>li {
        float: none;
    }
    .navbar-nav>li>a {
        padding-top: 10px;
        padding-bottom: 10px;
    }
    .navbar-text {
        float: none;
        margin: 15px 0;
    }
    .navbar-collapse.collapse.in {
        display: block!important;
    }
    .collapsing {
        overflow: hidden!important;
    }
    .navbar-fixed-bottom{
        position: relative !important;
    }
    body{
        padding-bottom: 0!important;
    }
    .jobnow-container{
        min-height: 378px;
        margin-bottom: 20px;
    }
}