.header-navbar {
    background-color: #ea3222;
    border-color: #080808;
}
.header-text{
    color: #fff !important;
}

.navbar-default .navbar-nav>li>a{
    color: #fff !important;
}

.navbar-default .navbar-nav>.open>a, .navbar-default .navbar-nav>.open>a:focus, .navbar-default .navbar-nav>.open>a:hover{
    background-color: #a51010;
}

.content-block{
    max-width:1200px;
    margin:0 auto;
    font-family: Verdana, Geneva, sans-serif;
}

body {
    padding-top: 65px;
    padding-bottom: 65px;
}

h1{
    color: #f0b245;
}

.credit-total{
    background-color: #ff9600;
    border-radius: 5px;
    padding-left: 10px;
    padding-right: 10px;
    padding-top: 5px;
    padding-bottom: 5px;
    margin-top: -5px;
}

* {
    box-sizing: border-box;
}

.homepage-search-bar{
    text-align: center;
    border: 1px solid black;
    background: rgba(0, 0, 0, 0.5);
    opacity: 1.5;
    width: 50%;
    margin: auto;
    padding-top: 10px;
    min-width: 300px;
}

.jumbotron{
    text-align: center;
}
.homepage-jumbotron, .offer-jumbotron, .searchpage-jumbotron{
    text-align: center;
    overflow: hidden;
    padding: 95px  0;
    background: transparent;
    background:rgba(0,0,0,0.6);
    margin-bottom: 30px;
    display: block;
    position:relative;
    color: orange;
    margin-top: -14px;
}

@media screen and (max-device-width: 480px){
    .homepage-jumbotron, .offer-jumbotron, .searchpage-jumbotron{
        padding: 0;
    }
    body{
        padding-bottom: 0;
    }
}

.homepage-jumbotron #keyword-input{
    color: #333;
    margin-right: 9px
}
.homepage-jumbotron #location-input{
    color: #333;
}
.homepage-subtitle{
    margin-bottom: 60px !important;
}
.background-offer{
    border-top-left-radius: 3px;
    border-top-right-radius: 3px;
    position: relative;
    display: flex;
    align-items: center;
    text-align: center;
}
.layer {
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    background:rgba(0,0,0,0.6);
    opacity: 0.7;
    border-top-left-radius: 3px;
    border-top-right-radius: 3px;
}
.thumbnail{
    padding-left: 0;
    padding-right: 0;
    padding-top: 0;
}
.header-thumb-employer{
    display: inline-flex;
    padding-top: 4px;
}
.header-thumb-employer h3{
    margin-top: 12px;

}
.thumb-employer-info{
    font-size: 16px;
    margin: 10px;
    height: 100px;
    overflow: hidden;
}
.employer-thumb-logo{
    width: 62px;
    height: 45px;
    margin-right: 10px;
    margin-left: 10px;
}
.offer-thumb-image-div{
    position: relative;
    display: flex;
    align-items: center;
    justify-content: center;
}
.col-md-4 .offer-thumb-image{
    height: 200px !important;
}
.col-md-4 .offer-thumb-image-div{
    min-height: 200px;
}
.offer-thumb-logo{
    width: 20%;
}
.offer-thumb-description{
    height: 100px;
    overflow: hidden;
}
.zoom {
    transition: transform .2s;
    text-decoration: none !important;
    color:#333;
    margin-top: 10px;
}
.zoom:hover {
    -ms-transform: scale(1.1); /* IE 9 */
    -webkit-transform: scale(1.1); /* Safari 3-8 */
    transform: scale(1.1);
    color:#333;
}

.logo-jobnow{
    position: absolute;
    left: 5px;
    top: -40px;
    width: 187px;
    height: 131px;
}


