#myInput {
    background-position: 10px 12px;
    background-repeat: no-repeat;
    width: 100%;
    font-size: 16px;
    padding: 12px 20px 12px 13px;
    border: 1px solid #ddd;
    margin-bottom: 12px;
}

#myUL {
    list-style-type: none;
    padding: 0;
    margin: 0;
    min-height: 350px;
}

#myUL li .offer-element {
    border: 1px solid #ddd;
    font-size: 18px;
    color: black;
    -webkit-transition: ease-out 0.7s;
    -moz-transition: ease-out 0.7s;
    transition: ease-out 0.7s;
    margin-bottom: 3%;
    width: 96%;
    display: flex;
    align-items: center;
    border-radius: 3px;
    webkit-box-shadow: 2px 5px 20px rgba(0,0,0,0.1);
    -moz-box-shadow: 2px 5px 20px rgba(0,0,0,0.1);
    box-shadow: 2px 5px 20px rgba(0,0,0,0.1);
    -webkit-transition: -webkit-transform 0.5s cubic-bezier(0.9, 0.26, 0.58, 1) false;
    -moz-transition: -moz-transform 0.5s cubic-bezier(0.9, 0.26, 0.58, 1) false false;
    -o-transition: -o-transform 0.5s cubic-bezier(0.9, 0.26, 0.58, 1) false false;
}
#myUL li .offer-element-dashboard {
    border: 1px solid #ddd;
    margin-top: -1px; /* Prevent double borders */
    background-color: #f6f6f6;
    padding: 12px;
    font-size: 18px;
    color: black;
    display: table;
    width: 100%;
}

#myUL li .offer-element-dashboard:hover:not(.header) {
    background-color: #eee;
}
.candidat-dashboard .offer-element-dashboard{
    display: flex !important;
}

#myUL li .offer-element:hover:not(.header) {
    transform: translate(1em,0);
}
.offer-element{
    display: table;
    width: 100%;
}
.element-offer-list{
    margin-left: 5px;
    margin-right: 5px;
    float: right;
}
.description-offer-dashboard{
    margin-top: 20px;
}
.collapse-offer-info{
    display: none;
}
.archived-offer{
    background-color: #dad9d9 !important;
}
.show-archived{
    float: left;
    margin-top: 15px;
}

* {
    box-sizing: border-box;
}

#keyword-input, #location-input {
    background-position: 10px 12px;
    background-repeat: no-repeat;
    width: 100%;
    font-size: 16px;
    padding: 12px 20px 12px 13px;
    border: 1px solid #ddd;
    margin-bottom: 12px;
    margin-right: -4px;
    min-width: 130px;
}



.offer-search-element{
    width: 94%;
    margin-left: 2%;
    display: inline-block;
}
.applied-date {
    float: right;
    margin-top: 14px;
}
.offer-element-details{
    vertical-align: middle;
    display: inline-block;
    margin-right: 3%;
    margin-bottom: 0;
    width: 100%;
}
.offer-item-experience{
    float: right;
    margin: 10px;
}
.offer-item-contract{
    float: right;
    margin: 10px;
}
.item-contract-temporary{
    background: red;
    color: white !important;
    text-transform: uppercase;
    text-align: center;
    border-radius: 4px;
    display: inline-block;
    padding: 3px 10px;
}
.item-contract-freelance{
    background: orange;
    color: white !important;
    text-transform: uppercase;
    text-align: center;
    border-radius: 4px;
    display: inline-block;
    padding: 3px 10px;
}
.item-contract-parttime{
    background: green;
    color: white !important;
    text-transform: uppercase;
    text-align: center;
    border-radius: 4px;
    display: inline-block;
    padding: 3px 10px;
}
.item-contract-fulltime{
    background: blue;
    color: white !important;
    text-transform: uppercase;
    text-align: center;
    border-radius: 4px;
    display: inline-block;
    padding: 3px 10px;
}
.item-contract-internship{
    background: yellow;
    color: white !important;
    text-transform: uppercase;
    text-align: center;
    border-radius: 4px;
    display: inline-block;
    padding: 3px 10px;
}
.offer-element-name{
    color: #929292;
}
.offer-element-title{
    font-size: 24px;
    width: 98%;
}
.other-element{
    display: inline-block;
    font-size: 16px;
    line-height: 23px;
    vertical-align: middle;
    margin: 0 10px;
    color: #87888D;
    white-space: nowrap;
}
.other-element .fa{
    margin-right: 5px;
}
.contractType-list {
    list-style-type: none;
    margin: 0;
    padding: 0;
}
#number-of-offer {
    line-height: inherit;
    background-position: 10px 12px;
    background-repeat: no-repeat;
    font-size: 16px;
    padding: 10px 20px 10px 13px;
    border: 1px solid #ddd;
    margin-top: 4px;
    color: #333
}
.contract-type {
    float: left;
    display: block;
    text-align: center;
    padding: 14px 16px;
    width: 11%;
    min-width: 133px;
}
.selected-page {
    background-color: #dedede !important;
}
#paginator-offer {
    display: table;
    margin: 0 auto;
    margin-top: 20px;
    margin-bottom: 20px;
}

#paginator-offer a {
    color: black;
    float: left;
    padding: 8px 16px;
}

#paginator-offer a.active {
    color: white;
}

#paginator-offer a:hover:not(.active) {background-color: #ddd !important;}

#loading {
    width: 100%;
    height: 100%;
    opacity: 0.7;
    background-color: #fff;
    z-index: 99;
    display: flex;
    align-items: center;
    justify-content: center;
}
.lds-default {
    display: inline-block;
    position: relative;
    width: 64px;
    height: 64px;
}
.lds-default div {
    position: absolute;
    width: 5px;
    height: 5px;
    background: #333;
    border-radius: 50%;
    animation: lds-default 1.2s linear infinite;
}
.lds-default div:nth-child(1) {
    animation-delay: 0s;
    top: 29px;
    left: 53px;
}
.lds-default div:nth-child(2) {
    animation-delay: -0.1s;
    top: 18px;
    left: 50px;
}
.lds-default div:nth-child(3) {
    animation-delay: -0.2s;
    top: 9px;
    left: 41px;
}
.lds-default div:nth-child(4) {
    animation-delay: -0.3s;
    top: 6px;
    left: 29px;
}
.lds-default div:nth-child(5) {
    animation-delay: -0.4s;
    top: 9px;
    left: 18px;
}
.lds-default div:nth-child(6) {
    animation-delay: -0.5s;
    top: 18px;
    left: 9px;
}
.lds-default div:nth-child(7) {
    animation-delay: -0.6s;
    top: 29px;
    left: 6px;
}
.lds-default div:nth-child(8) {
    animation-delay: -0.7s;
    top: 41px;
    left: 9px;
}
.lds-default div:nth-child(9) {
    animation-delay: -0.8s;
    top: 50px;
    left: 18px;
}
.lds-default div:nth-child(10) {
    animation-delay: -0.9s;
    top: 53px;
    left: 29px;
}
.lds-default div:nth-child(11) {
    animation-delay: -1s;
    top: 50px;
    left: 41px;
}
.lds-default div:nth-child(12) {
    animation-delay: -1.1s;
    top: 41px;
    left: 50px;
}
@keyframes lds-default {
    0%, 20%, 80%, 100% {
        transform: scale(1);
    }
    50% {
        transform: scale(1.5);
    }
}

/* Safari */
@-webkit-keyframes spin {
    0% { -webkit-transform: rotate(0deg); }
    100% { -webkit-transform: rotate(360deg); }
}

@keyframes spin {
    0% { transform: rotate(0deg); }
    100% { transform: rotate(360deg); }
}

.page-subtitle{
    text-align: center;
    font-size: 18px;
}
.job-title, .updated-date, .offer-company-name{
    display: inline-block;
    padding: 20px;
}
.candidate-body{
    text-align: center;
    height:  300px;
}
.nav-candidate{
    display: inline-block;
}
.nav-pills>li.active>a, .nav-pills>li.active>a:focus, .nav-pills>li.active>a:hover{
    color: #ea3222;
    background-color: #fff;
}
.apply-div-form {
    position: fixed;
    bottom: 50px;
    width: 100%;
    color: white;
    background: #333;
    padding: 8px;
    left: 0;
    text-align: center;
    z-index: 1040;
}
.inside-offer-apply{
    display: inline-block;
    width: 100%;
}
.inside-offer-apply-cv{
    display: flex;
    align-items: center;
}
#cv{
    padding: 15px;
}
#comment-input{
    width: 100%;
    margin-bottom: 10px;
    color: #333;
}
.submit-apply{
    margin-bottom: 10px;
}
.button-company-name{
    color: orange !important;
}
.tag-offer{
    margin-right: 5px;
}
.tag-offer i{
    margin-right: 3px;
}

.floating-employer{
    -webkit-box-shadow: 2px 5px 20px rgba(0,0,0,0.1);
    -moz-box-shadow: 2px 5px 20px rgba(0,0,0,0.1);
    box-shadow: 2px 5px 20px rgba(0,0,0,0.1);
    -webkit-transition: -webkit-transform 0.5s cubic-bezier(0.9, 0.26, 0.58, 1) false;
    -moz-transition: -moz-transform 0.5s cubic-bezier(0.9, 0.26, 0.58, 1) false false;
    -o-transition: -o-transform 0.5s cubic-bezier(0.9, 0.26, 0.58, 1) false false;
    border-top-left-radius: 3px;
    border-top-right-radius: 3px;
    padding-right: 0;
    padding-left: 0;
    text-align: center;
    margin-bottom: 23px;
}
.floating-employer .jobnow-button{
    margin-bottom: 20px;
    width: 88%;
}
.header-floating-employer{
    background: #272f3b;
    color: white;
    padding: 15px;
    font-size: 26px;
    text-align: center;
    border-top-left-radius: 5px;
    border-top-right-radius: 5px;
}
.hr-floating-employer{
    margin-top: 10px;
    margin-bottom: 10px;
    border-top: 1px solid #d4d3d3;
}
.floating-employer-logo{
    display: block;
    margin-left: auto;
    margin-right: auto;
    width: 27%;
    margin-top: 10px;
}
.floating-employer-description{
    padding: 20px;
}

@media screen and (max-device-width: 480px){
    .floating-employer{
        margin-top: 20px;
        margin-bottom: 20px;
        border-bottom-left-radius: 8px;
        border-bottom-right-radius: 8px;
    }
    .apply-div-form {
        bottom: 0 !important;
    }
    .apply-button, .submit-apply{
        width: 100% !important;
        height: initial !important;
    }
    .inside-offer-apply-cv{
        display: block;
        margin-top: 10px;
    }
    #cv{
        padding-left: 0;
        padding-top: 10px;
    }
    .offer-element{
        display: inline-table !important;
        font-size: 16px !important;
        width: 100% !important;
        margin: 10px 0 !important;
    }
    .background-employer-in-offer-search{
        width: 100% !important;
        min-height: 90px !important;
    }
    .offer-search-element{
        padding: 15px;
        padding-top: 5px;
    }
    .offer-element-title{
        font-size: 21px !important;
    }
    .logo-employer-in-offer-search{
        margin-top: -50px !important;
        width: 24% !important;
        margin-left: auto !important;
        margin-right: auto !important;
        display: flex !important;
        padding: 10px;
        border: 1px #ddd solid;
        border-radius: 3px;
        background-color: white;
        z-index: 1000;
        position: relative;
    }
    .featured-offer-search{
        border: none !important;
        text-align: center;
    }
    .display-number{
        font-size: 1.75rem;
        margin-bottom: 0 !important;
        text-align: center;
    }
    .background-employer-in-offer-search .layer{
        border-top-right-radius: 3px !important;
        border-bottom-left-radius: 0 !important;
    }
    .background-employer-in-offer-search{
        border-top-right-radius: 3px !important;
        border-bottom-left-radius: 0 !important;
    }
    #myUL li .offer-element:hover:not(.header) {
        transform: none !important;
    }
    .zoom:hover{
        transform: none !important;
    }
    .sticky{
        position: sticky;
    }
    .container-offer-page{
        margin-bottom: 0;
    }
    .about-offer-elements{
        display: flex;
        width: 100%;
        padding-right: 0 !important;
        padding-left: 0 !important;
    }
    .about-offer-elements .about-offer-item{
        width: 45%;
        margin-right: 1%;
        margin-left: 4%;
    }
}

#employer-input{
    line-height: inherit;
    background-position: 10px 12px;
    background-repeat: no-repeat;
    width: 100%;
    font-size: 16px;
    padding: 12px 20px 12px 13px;
    border: 1px solid #ddd;
    margin-bottom: 12px;
    margin-left: 10px;
    color: #333;
    min-width: 130px;
}

.searchOffer{
    margin-left: 10px;
    min-width: 120px;
    height: 45px;
    line-height: inherit;
    background-position: 10px 12px;
    background-repeat: no-repeat;
    width: 13%;
    font-size: 16px;
    padding: 11px 20px 12px 13px;
    border: 1px solid #000000;
}
.background-employer-in-offer-search{
    min-height: 140px;
    width: 30%;
    position: relative;
    display: flex;
    align-items: center;
    text-align: center;
    border-bottom-left-radius: 3px;
    border-top-left-radius: 3px;
}
.background-employer-in-offer-search .layer{
    border-top-right-radius: 0;
    border-bottom-left-radius: 3px;
}
.logo-employer-in-offer-search{
    width: 13%;
    max-width: 73px;
    margin-left: -31px;
    z-index: 1;
    padding: 10px;
    border: 1px #ddd solid;
    border-radius: 3px;
    background-color: white;
}
.searchpage-jumbotron{
    margin-bottom: 0;
}
.searchpage-jumbotron .homepage-search-bar{
    width: 72%;
    padding-bottom: 10px;
    min-width: 290px;

}
.searchpage-jumbotron #keyword-input{
    color: #333;
}
.searchpage-jumbotron #location-input{
    color: #333;
}
.no-offer {
    margin-top: 80px;
    font-size: 26px;
    text-align: center;
}


.optionnal-div-form {
    position: fixed;
    bottom: 50px;
    width: 100%;
    color: white;
    background-color: white;
    padding: 8px;
    left: 0;
    text-align: center;
    height: 7%;
    display: flex;
    align-items: center;
    justify-content: center;
}

.slider{
    display: none;
}


.offer-submit {

    margin: 1%;

}


.featured-offer-search .offer-thumb-description{
    height: inherit;
}
.featured-offer-search{
    border-radius: 5px;
    border: 1px #ddd solid;
    margin-top: 50px;
}
.featured-offer-search .zoom {
    margin-left: 10px;
    margin-right: 10px;
}
.featured-offer-search h1 {
    margin-bottom: 18px;
}
.display-number{
    margin-top: 16px;
    font-size: 1.75rem;
}
.display-number .col-md-6{
    margin-bottom: 10px !important;
}

.featured-offer-item, .featured-employer-item{
    webkit-box-shadow: 2px 5px 20px rgba(0,0,0,0.1);
    -moz-box-shadow: 2px 5px 20px rgba(0,0,0,0.1);
    box-shadow: 2px 5px 20px rgba(0,0,0,0.1);
    -webkit-transition: -webkit-transform 0.5s cubic-bezier(0.9, 0.26, 0.58, 1) false;
    -moz-transition: -moz-transform 0.5s cubic-bezier(0.9, 0.26, 0.58, 1) false false;
    -o-transition: -o-transform 0.5s cubic-bezier(0.9, 0.26, 0.58, 1) false false;
}


/*Formulaire post offer*/

.container.post-offer{
    width: 60% !important;
}
h3.post-offer{
    margin-top: 0;
}

.apply-button{
    width: 150px;
    height: 50px;
    font-size: 20px;
}

.job-description{
    margin-bottom: 80px;
}

.featured-offer-search ul{
    list-style: none;
    padding-left: 0;
}
.featured-offer-search a{
    text-decoration: none;
}
.featured-offer-search a .offer-thumb-image-div{
    position: absolute;
    bottom: -14px;
}
.offer-location{
    max-width: 50% !important;
    overflow: hidden;
    text-overflow: ellipsis;
}
.search-map{
    padding: 10px;
    border: 1px solid #ddd;
    margin-bottom: 20px;
}
.map-offer-container{
    max-height: 80px;
    display: inline-grid;
    font-size: 14px;
}
.map-offer{
    margin: 5px;
}