.header-navbar {
    background-color: #ea3222;
    border-color: #080808;
}
.header-text{
    color: #fff !important;
}

.navbar-default .navbar-nav>li>a{
    color: #fff !important;
}

.navbar-default .navbar-nav>.open>a, .navbar-default .navbar-nav>.open>a:focus, .navbar-default .navbar-nav>.open>a:hover{
    background-color: #a51010;
}

body {
    padding-top: 65px;
    padding-bottom: 65px;
}